* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #05e8ba;
	background-image: linear-gradient(315deg,#f57676 0%,#12161a 74%);
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color:transparent;
}

button {
	width: 200px;
	height: 75px;
	cursor: pointer;
	font-size: 20px;
	color: rgb(234, 217, 217);
	background: rgb(10, 10, 10);
	border: 2px solid rgb(245, 244, 244);
	box-shadow: 5px 5px 0 rgb(204, 0, 0),
		-5px -5px 0 rgb(25, 24, 24),
		-5px 5px 0 black,
		5px -5px 0 black;
	transition: 500ms ease-in-out;
}

button:hover {
	box-shadow: 20px 5px 0 rgb(18, 22, 23), -20px -5px 0 rgb(227, 59, 59);
}

button:focus {
	outline: none;
}