.nav {
    margin-left: 400px;
}

body {
    background-image: url("timebg.jpg");
    background-size: cover;
    text-align: center;
    margin-top: 400px;
    font-size: x-large;

}

#t1 {
    width: 350px;
    height: 40px;
    text-size-adjust: 7px;
}