body {
    background-color: #141E30;
    background: linear-gradient(to right, #d61e43, #f1a4bb, #3825e3);
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui;
  font-size: min(200%, 5vmin);
}

#textb {
    font-family: "Dank Mono", ui-monospace, monospace;
}
#vis{
    font-family: "Dank Mono", ui-monospace, monospace;
}

html {
    block-size: 100%;
    inline-size: 100%;
}
